.redirect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
}

.logo {
    width: 300px;
    max-width: 80%;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

    a:hover {
        text-decoration: underline;
    }
