@page "/redirect"
@layout NullLayout

<PageTitle>Redirecting...</PageTitle>

<div class="redirect-container">
    <img src="assets/images/logo.png" alt="App Logo" class="logo" />
    <h3>Redirecting you in @Countdown second(s)...</h3>
    <p>
        If you are not redirected automatically,
        <a href="https://www.facebook.com/waketastefocuscoffeetogo">click here</a>.
    </p>
</div>
